/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* font classes */
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* variables */
:root {
  /* break points */
  --xl: 1280px;
  --section-primary: hsl(0, 0%, 100%);
  --section-secondary: rgb(255, 128, 82);
  --text-color-primary: hsl(0, 0%, 20%);

}
/* global settings */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: var(--text-color-primary);
}

/* reset html and body styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* reset list styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

/* reset text */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.bg-primary {
  background-color: var(--section-primary);
  color: var(--text-color-primary)
}

.bg-secondary {
  background-color: var(--section-secondary);
  color: var(--section-primary);
}


/*---------------------Home Page Styling---------------------*/

/*---------------------Nav Bar---------------------*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 1rem;
    background-color: var(--section-primary);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

/* Nav Bar Logo and Opening Times Section */
#nav-logo-and-times {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    font-weight: 300;
    text-transform: uppercase;
}
#opening-times {
  font-size: clamp(0.8rem, 2.3vw, 1rem);
}

/* Nav Bar Button Container */
#nav-buttons-list {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-left: 2vw;
    font-weight: 300;
    text-transform: uppercase;
}

/* Nav Bar Buttons */
.nav-button {
    padding: 0.25rem;
    font-size: clamp(0.8rem, 2.3vw, 1rem);
}
/* Nav Bar Buttons when normal and hovered */
.nav-button:link {
    color: var(--text-color-primary);
    text-decoration: none;
}
.nav-button:hover {
    color: var(--section-secondary);
}


/*---------------------Advertisement Section---------------------*/

/*---------------------Advertisement Image---------------------*/

/* Main Ad Image container holding everything */
#home-ad-image-main-container {
    position: relative;
    z-index: 4;
    height: 70vh;
    overflow: hidden;
}

/* Container holding ad image (here to use absolute and relative for text) */
#home-ad-image-container {
    width: 100%;
    height: 100%;
}

/* Image */
#home-ad-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 30%;
}

/* Container for Ad Image Text */
#home-ad-text-container{
    position: absolute;
    top: 15vh;
    left: 7vh;
    font-weight: 600;
    font-style: italic;
}

/* Ad Image Main Text */
#home-ad-text-main{
    padding: 0.25rem 0.25rem;
    width: 37vw;
    font-size: calc(3vw + 3vh);
    color: var(--section-primary);
    background-color: var(--section-secondary);
}

/* Ad Image Subtitle Text */
#home-ad-text-subtitle {
    padding: 0.25rem 0.25rem;
    width: 13vw;
    font-size: calc(2vw + 2vh);
    color: var(--section-primary);
    background-color: var(--text-color-primary);
}

/*---------------------Advertisement Buttons---------------------*/

/* Ad Buttons Container */
#home-ad-button-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 6vw;
    margin: 1rem 0;
}

/* Ad Buttons */
.home-ad-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--section-primary);
    background-color: var(--section-secondary);
    height: 10vh;
    width: 17vw;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}

/* Ad Buttons on Hover AND Newest Attraction Button */
.home-ad-buttons a:hover, #newest-attraction-button:hover{
    background-color: rgb(227, 100, 54);
    transform: translateY(-0.1rem);
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.15);
}

/*---------------------About Us Section---------------------*/

/* About Us Main Container */
header {
  margin: 10vh 0;
  padding: 3vh 1vw 5vh 1vw;
  border-top: 2px solid var(--section-secondary);
  border-bottom: 2px solid var(--section-secondary);
  z-index: 3;
}

/* About Us Title */
#about-us-title {
  font-size: clamp(2rem, 3vw, 4rem);
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 2vh;
}

/* About Us Main Text and Image Container */
#about-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
}

/* About Us Text Container */
#about-us-text-container{
  width: 40vw;
}

/* All About Us Text (No title) */
#about-us-desc, #about-us-where, #about-us-location {
  font-size: clamp(0.8rem, 2.3vw, 1.5rem);
}
#about-us-where {
  color: var(--section-secondary);
}
#about-us-location{
  text-transform: uppercase;
  font-weight: 300;
}

/* About Us Map Image */
#about-us-map{
  width: 45vw;
}

/*---------------------Newest Attraction Section---------------------*/

/* Newest Attraction Main Container */
#newest-attraction-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

/* Title Only */
#newest-attraction-title {
  font-size: clamp(2rem, 3vw, 4rem);
  text-transform: uppercase;
  font-weight: 400;
  padding: 2vh;
}

/* Image Container */
#newest-attraction-img-container {
  height: 70vh;
  overflow: hidden;
}

/* Image */
#newest-attraction-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 10%;
}

/* Button Container */
#newest-attraction-button-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 1rem 0;
}

/* Button */
#newest-attraction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--section-primary);
  background-color: var(--section-secondary);
  height: 10vh;
  width: 17vw;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}
/*Hover code for this button is in ad button section*/

/*---------------------Review Section---------------------*/

/* Main Container */
#review-container {
  background-color: var(--section-secondary);
  padding: 30vh 20vw;
}

/* Quote Text */
#review-quote {
  display: flex;
  font-size: clamp(2rem, 3vw, 4rem);
  color: var(--section-primary);
  text-align: center;
}

/* Site Text */
#review-site {
  color: var(--section-primary);
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

/*---------------------Footer Section---------------------*/

/* Footer Main Container */
#footer-button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 1rem;
}

/* Buttons and Logos Containers */
#footer-buttons-container, #footer-logos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 3vw;
  font-weight: 300;
  text-transform: uppercase;
}

/* Footer Button */
.footer-button {
  padding: 0.25rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
}
/* Footer Buttons when normal and hovered */
.footer-button:link {
  color: var(--text-color-primary);
  text-decoration: none;
}
.footer-button:hover {
  color: var(--section-secondary);
}